/* texts use color as attributes and
divs use background-color as attribute
to change the colors */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

body::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffb900, #cfc171);
  clip-path: circle(25% at right 85%);
}

body::after {
  z-index: -1;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#cdd6ee, #0011ff);
  clip-path: circle(20% at left 10%);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1350px;
  position: relative;
  z-index: 1;
  /* margin:0;
  padding:0; */
}

.top {
  padding-top: 15px;
  /* position: relative; */
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

header {
  /* background-color: #005581; */
  height: 118px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
img {
  max-width: 90%;
  max-height: 90%;
  float: center;
  /* margin-left: 5rem; */
}

nav {
  /* background-color: #ffe552;
  height: 40px;
  box-shadow: 20px 20px 50px rgb(0,0,0,0.5);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px); */
  /* position:relative; */
  height: 2.5em;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: #ffe552ab;
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  width: fit-content;
  /* margin-bottom: 10px; */
  /* margin-right: 5rem; */
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  margin-top: 10px;
}

li a {
  display: inline;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

li a:hover {
  color: #4079c4;
  font-weight: bold;
}

main {
  display: flex;
  /* flex-wrap: wrap; wraps an image into one line and is responsive as the view port becomes smaller*/
  flex-wrap: wrap;
  /* centers objects in the horizontal line */
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.buffer {
  width: 100%;
  height: 5rem;
}

.vid {
  max-height: 40%;
  max-width: 40%;
  min-width: 30em;
  min-height: 30em;
  /* padding: 0;
  margin 0; */
}

.main-text {
  /* move the text at main? */
  /* padding-bottom: 15px; */
  text-align: center;
}

h1 {
  font-size: 80px;
  color: #2e4668;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  /* margin-top: 51px; */
  text-align: left;
}

p {
  font-size: 25px;
  color: rgb(0, 0, 0);
  width: 35ch;
  font-family: "Lato", sans-serif;
  margin-bottom: 65px;
  line-height: 28pt;
  font-weight: 300;
  /* padding-right: 90px; */
  text-align: left;
}

.TIP {
  color: #080a09;
  text-decoration: none;
  background-color: #f2ec1a;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.TIP:hover {
  color: #f2ec1a;
  background-color: #080a09;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.registration {
  font-size: 0.9rem;
  color: white;
  background-color: #4079c4;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.registration:hover {
  background-color: #1364a7;
}

.events-registration {
  font-size: 0.9rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  color: #4079c4;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px; /*used to be 35 */
  text-decoration: none;
  font-weight: bold;
  border: solid 0.05px #4079c4;
  /* border-width: 2px; */
}

.events-registration:hover {
  color: #1364a7;
}

.buttons {
  text-align: left;
}

/* .buffer2 {
  width: 5rem;
} */

footer {
  /* background-color: #005581; */
  position: relative;
  height: 100px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: #00568136;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  margin-top: 650px;
}
